{% extends "base.html" %}

{% block content %}
    <h2 class="title is-2">403, Forbidden Error</h2>
    <h5 class="title is-5">This error typically means you are trying to access a page or resource for which you don't have the required permissions. This might occur when trying to access a restricted area of a website, a protected file, or performing an action without the necessary privileges.</h5>
    <a style='color: blue' href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/403">Click here for Further Information</a>
{% endblock %}